.item-clip{
  color: white;
  background: #2d313a;
  padding:15px !important;
}
.item-clip:hover{
  background: #3e4f75;
}
.item-clip *{
  color: white !important;
}
.item-clip .clip-description{
  font-size: 12px;
  color:blue;
}
.item-clip .clip-description b{
  color:#4abf84 !important;
}

.playing{
  background: #765b84;
}
.action_icon{
  cursor: pointer;
}
